.navbar-brand-custom:focus {
  color: #b0b0b0 !important;
  text-decoration: none;
}
.navbar {
  background-color: #072c3d !important; /* azul oscuro como en la imagen */
  min-height: 70px;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  font-family: 'Poppins', Arial, sans-serif;
}

.navbar-brand {
  font-size: 1.1rem;
  font-weight: 500;
}

.nav-link {
  font-size: 1rem;
  color: #fff !important;
}

.nav-link:hover {
  color: #b0b0b0 !important; /* efecto hover */
}

.dropdown-menu {
  background-color: #072c3d;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: #09455e;
}
