<main class="main">
    <section class="titles" id="iconos">
        <h1 class="main-title">PINTURAS</h1>
        <h2 class="subtitle">Iconos</h2>
    </section>
    <iconos-carousel [images]="images" (imageClick)="onIconoClick($event)"></iconos-carousel>
    <div class="modal-overlay" *ngIf="modalOpen" (click)="closeModal()">
        <div class="modal-img-container modal-flex" (click)="$event.stopPropagation()">
            <img [src]="modalImg" alt="Imagen ampliada">
            <div class="modal-info">
                <h2>{{modalTitle}}</h2>
                <p>{{modalDesc}}</p>
            </div>
            <button class="close-modal" (click)="closeModal()">&times;</button>
        </div>
    </div>
    <div class="section-divider"></div>
    <section class="titles" id="paisajes">
        <h2 class="subtitle">Paisajes y Actitudes</h2>
    </section>
    <div class="paisajes-layout">
        <div class="paisaje-principal" *ngIf="paisajes && paisajes[0]" (click)="onPaisajeClick(paisajes[0])">
            <img [src]="paisajes[0]?.src" [alt]="paisajes[0]?.title">
        </div>
        <div class="paisajes-miniaturas-grid">
            <div class="miniatura-cuadrada" *ngFor="let img of paisajes?.slice(1,13)" (click)="onPaisajeClick(img)">
                <img [src]="img?.src" [alt]="img?.title">
            </div>
        </div>
    </div>
</main>